
!models/.gitkeep
# Data (Exclusively managed via External Sources/DVC)
# Distribution
# Docker volumes (local data)
# IDE
# Logs
# MLflow
# Models (Exclusively managed via MLflow Registry)
# OS
# Python
# Security
# Testing
# Visual Artifacts
*$py.class
*.cover
*.csv
*.egg-info/
*.log
*.png
*.py[cod]
*.pyc
*.so
*.swo
*.swp
.DS_Store
.Python
.coverage
.env
.env.local
.idea/
.pytest_cache/
.secret
.vscode/
Thumbs.db
__pycache__/
build/
coverage.xml
data/
data_integrity_report.html
dist/
env/
grafana_data/
htmlcov/
mlruns/
models/
outputs/
prometheus_data/
venv/
