# Web App
fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.0.0
httpx~=0.23.0

# Data Science
pandas==2.2.1
numpy==1.26.2

# Machine Learning
scikit-learn==1.5.1
xgboost==2.1.4
mlflow==2.11.3
shap==0.45.1

# Visualization
matplotlib==3.8.2
seaborn==0.13.0

# Monitoring
prometheus-client==0.19.0

# MLOps & Integration
dagshub==0.3.3
opendatasets==0.1.22

# Testing
pytest==7.4.3
pytest-cov==4.1.0
